#dataList-panel {
    min-width: calc(200 * var(--etalon));
    max-width: var(--dataList-width);
}

.panel-left {
    overflow: auto;
}

.panel-left ul li {
    cursor: pointer;
	padding: calc(17 * var(--etalon)) calc(3 * var(--etalon));
    padding-left: calc(20 * var(--etalon));
	min-height: calc(20 * var(--etalon));
	width: auto;

    font-size: calc(15 * var(--etalon));

    border-bottom: calc(1 * var(--etalon)) solid var(--grey-dark);
}

.panel-left ul li:hover {
    background-color: var(--grey-dark);
}

.panel-left ul li:active {
    background-color: var(--thematic-dark);
}

.panel-left .active,
.panel-left .active:hover,
.panel-left .active:active {
    color: #fff;
    background-color: var(--thematic);
}