* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	overflow: hidden;
	font-family: 'Roboto', sans-serif;
	color: #222;

	--grey: #ddd;
	--grey-dark: #ccc;
	--grey-dark-hover: #ccc;
	--grey-dark-active: #bbb;
	--thematic: #1955cd;
	--thematic-dark: #204183;

	--dataList-width: 300px;
	--header-height: 62px;
	--settings-width: 220px;
	--settings-button-width: 100px;
	--controll-button-width: 110px;
	--controll-button-height: 34px;
	--animaiton-button-width: 150px;
	--animaiton-button-height: 42px;
	--animaiton-button-margin-top: 15px;
	--settings-conformalMap-slider-container-width: 30px;
}

header {
	display: flex;
	justify-content: space-between;
	z-index: 3;

	width: 100%;
	height: var(--header-height);

	background-color: var(--grey);
}

header>*,
header>*>* {
	text-align: center;
	align-items: center;

	line-height: calc(var(--header-height) - 2px);
	font-size: 15px;
}

main {
	position: relative;
	width: 100%;
	height: calc(100% - var(--header-height));
}

ul {
	list-style: none;
	min-width: var(--settings-width);
	width: fit-content;
}

.header-center {
	width: calc(100% - 2*var(--header-height) - 2*var(--settings-button-width) + 2px);
	overflow: auto;
}

.header-center>span+span {
	margin-left: 35px;
}

.header-btn {
	cursor: pointer;
	min-width: var(--settings-button-width);
	outline: 3px solid var(--grey-dark-active);
	outline-offset: -11px;
}

.header-btn:hover {
	background-color: var(--grey-dark-hover)
}

.header-btn:active {
	background-color: var(--grey-dark-active)
}

.panel {
	display: block;
	position: absolute;
	top: 0;

	z-index: 2;
	height: 100%;

	background-color: var(--grey);
	border-top: 1px solid var(--grey-dark);
}

.panel-left {
	left: 0;
}

.panel-right {
	right: 0;
}

.header-q {
	position: fixed;
	top: 0;
	right: var(--settings-button-width);

	height: var(--header-height);
	min-width: var(--header-height);

	color: #444;
	font-weight: 600;
	font-size: 20px;
	min-width: var(--header-height);
}

#render {
	display: block;
	width: 100%;
	height: 100%;
	background: white;
}

.controll-btn {
	cursor: pointer;
	
	color: #fff;
	font-size: 14px;

	background-color: var(--thematic);
	border: none;
	outline: 2px solid #fff;
	outline-offset: -5px;
}

.controll-btn.settings-btn {
	margin: 5px auto;
	width: var(--controll-button-width);
	min-height: var(--controll-button-height);
}

.animation-btn.controll-btn {
	position: fixed;
	top: calc(
		  var(--header-height)
		+ var(--animaiton-button-margin-top));
	right: calc(
		  var(--settings-conformalMap-slider-container-width)
		+ var(--settings-width)/2
		- var(--animaiton-button-width)/2);
	z-index: 10;

	width: var(--animaiton-button-width);
	height: var(--animaiton-button-height);

	font-size: 16px;
}

.controll-btn:hover:not(:active) {
	outline-offset: -4px;
}

.controll-btn:active {
	background-color: var(--thematic-dark);
	outline-width: 3px;
	outline-offset: -6px;
}