.panel-right {
    display: flex;
    width: auto;
}

.panel-right>div {
	display: inline-flex;
	height: 100%;
}

.settings-panel {
    flex-direction: column;
    overflow: auto;

    margin-top: calc(
          var(--animaiton-button-margin-top)
        + var(--animaiton-button-height));

	width: var(--settings-width);
    height: 100%;
}

.panel-right>div {
    border-right: calc(1 * var(--etalon)) solid var(--grey-dark);
}

.settings-container>fieldset,
.settings-container:not(.settings-panel) {
    border: calc(2 * var(--etalon)) solid var(--thematic);
}

.settings-container {
    display: flex;
    padding: calc(15 * var(--etalon));
    height: auto;
}

.settings-container>fieldset {
    margin-top: calc(12 * var(--etalon));
    padding: calc(10 * var(--etalon)) calc(12 * var(--etalon));
}

.settings-container>fieldset>legend {
    padding: 0 calc(7 * var(--etalon));
    color: var(--thematic-dark)
}

.settings-container>fieldset>div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-bottom: calc(7 * var(--etalon));
}

.settings-container>span,
.settings-container>div {
	display: block;
    font-size: calc(14 * var(--etalon));
}

.settings-container>span,
.settings-container>label {
    margin-left: calc(15 * var(--etalon));
}

.settings-container>span:first-child {
    margin-bottom: calc(10 * var(--etalon));
    font-size: calc(16 * var(--etalon));
}

.settings-container>div:not(:last-child) {
    margin-bottom: calc(10 * var(--etalon));
}

.settings-panel-slider-container {
	width: var(--settings-conformalMap-slider-container-width);

    align-items: center;
    justify-content: center;
}

.settings-panel-slider-container>div {
	margin-bottom: 0;
	margin-top: 0;
}

.settings-panel-slider {
    -webkit-appearance: none;

    width: calc(100vh - var(--header-height) - calc(260 * var(--etalon)));
    height: calc(7 * var(--etalon));

    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);

    transition: opacity .2s;
    -webkit-transition: .2s;
    
    background: #777;
    border-radius: calc(5 * var(--etalon));
    outline: none;
}

.settings-panel-slider:hover {
    opacity: 0.8;
}

.settings-panel-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;

    width: calc(18 * var(--etalon));
    height: calc(18 * var(--etalon));

    cursor: pointer;

    background: var(--thematic);
    border-radius: 50%;
}

.settings-panel-slider::-moz-range-thumb {
    width: calc(25 * var(--etalon));
    height: calc(25 * var(--etalon));

    cursor: pointer;

    background: var(--thematic);
    border-radius: 50%;
}

.settings-numbers {
    width: calc(60 * var(--etalon));
    z-index: 10;
}

.settings-numbers + label {
    float: left;
    width: calc(40 * var(--etalon));
}

span + .settings-numbers + label,
span + .settings-numbers {
    margin-top: calc(10 * var(--etalon));
}


.settings-checkbox {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.settings-checkbox + label {
    position: relative;
    cursor: pointer;
    padding: 0;
}

.settings-checkbox + label::before {
    content: '';
    margin-right: calc(10 * var(--etalon));
    display: inline-block;
    vertical-align: text-top;
    width: calc(20 * var(--etalon));
    height: calc(20 * var(--etalon));
    background: white;
}

.settings-checkbox:hover + label::before {
    background: var(--grey-dark-hover);
}

.settings-checkbox:focus + label::before {
    box-shadow: 0 0 0 calc(3 * var(--etalon)) rgba(0, 0, 0, 0.12);
}

.settings-checkbox:checked + label::before {
    background: var(--thematic);
}

.settings-checkbox:checked + label::after {
    content: '';
    position: absolute;
    left: calc(5 * var(--etalon));
    top: calc(9 * var(--etalon));
    background: white;
    width: calc(2 * var(--etalon));
    height: calc(2 * var(--etalon));
    box-shadow: calc(2 * var(--etalon)) 0 0 white, calc(4 * var(--etalon)) 0 0 white, calc(4 * var(--etalon)) calc(-2 * var(--etalon)) 0 white, calc(4 * var(--etalon)) calc(-4 * var(--etalon)) 0 white, calc(4 * var(--etalon)) calc(-6 * var(--etalon)) 0 white, calc(4 * var(--etalon)) calc(-8 * var(--etalon)) 0 white;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}