.panel-right {
    display: flex;
    width: auto;
}

.panel-right>div {
	display: inline-flex;
	height: 100%;
}

.settings-panel {
    flex-direction: column;
    overflow: auto;

    margin-top: calc(
          var(--animaiton-button-margin-top)
        + var(--animaiton-button-height));

	width: var(--settings-width);
    height: 100%;
}

.panel-right>div {
    border-right: 1px solid var(--grey-dark);
}

.settings-container>fieldset,
.settings-container:not(.settings-panel) {
    border: 2px solid var(--thematic);
}

.settings-container {
    display: flex;
    padding: 15px;
    height: auto;
}

.settings-container>fieldset {
    margin-top: 12px;
    padding: 10px 12px;
}

.settings-container>fieldset>legend {
    padding: 0 7px;
    color: var(--thematic-dark)
}

.settings-container>fieldset>div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-bottom: 7px;
}

.settings-container>span,
.settings-container>div {
	display: block;
    font-size: 14px;
}

.settings-container>span,
.settings-container>label {
    margin-left: 15px;
}

.settings-container>span:first-child {
    margin-bottom: 10px;
    font-size: 16px;
}

.settings-container>div:not(:last-child) {
    margin-bottom: 10px;
}

.settings-panel-slider-container {
	width: var(--settings-conformalMap-slider-container-width);

    align-items: center;
    justify-content: center;
}

.settings-panel-slider-container>div {
	margin-bottom: 0;
	margin-top: 0;
}

.settings-panel-slider {
    -webkit-appearance: none;

    width: calc(100vh - var(--header-height) - 260px);
    height: 7px;

    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);

    transition: opacity .2s;
    -webkit-transition: .2s;
    
    background: #777;
    border-radius: 5px;
    outline: none;
}

.settings-panel-slider:hover {
    opacity: 0.8;
}

.settings-panel-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;

    width: 18px;
    height: 18px;

    cursor: pointer;

    background: var(--thematic);
    border-radius: 50%;
}

.settings-panel-slider::-moz-range-thumb {
    width: 25px;
    height: 25px;

    cursor: pointer;

    background: var(--thematic);
    border-radius: 50%;
}

.settings-numbers {
    width: 60px;
    z-index: 10;
}

.settings-numbers + label {
    float: left;
    width: 40px;
}

span + .settings-numbers + label,
span + .settings-numbers {
    margin-top: 10px;
}